# Ignorer le dossier node_modules
node_modules/

# Ignorer les fichiers environnementaux sensibles
.env

# Ignorer les fichiers de logs
npm-debug.log
yarn-debug.log
yarn-error.log
logs/
*.log

# Ignorer les dépendances locales
.DS_Store

